.env
.cache/
.coverage
.storybook-out/
.DS_Store
.geoip/
Pipfile
.venv
*.pyc
*.pyo
*.db
*.Python
*.rdb
*._
*.egg-info
*.log
*.egg
*.pid
*.iml
*.lock
bin/*
include/*
lib/*
media/*
static/*
*_BKP
envdir
*node_modules/
shop/cli/updaters/src/*
.vscode
shop.egg-info/
MANIFEST
/coverage/
/cover
/build
/dist
/env
/tmp
.pytest_cache/
.vscode/tags
coverage.xml
package-lock.json
.webpack.meta
pip-wheel-metadata/
Brewfile.lock.json
