{% extends 'shop/customers/central/base.html' %}{% load i18n l10n thumbnail shop_tags %}
{% block meta_title %}{% trans "Lista de Desejos" %} | {{ block.super }}{% endblock %}

{% block main %}
    <h4 class="h4 mb-4">{% trans "Lista de Desejos" %}</h4>
    {% localize off %}
        <div id="search">
            <div class="list-products default">
                {% for item in wishlists %}
                    <div class="li">
                        {% with has_stock=item.sku.has_stock sku=item.sku product=item.sku.product %}
                            <div 
                                class="item-product position-relative{% if not has_stock %} not_stock{% endif %}" 
                                data-id="{{ product.id }}" 
                                data-sku="{{ sku.id }}" 
                            >
                            <a href="{{ product.get_absolute_url }}" class="item-image">
                                {% if item.sku.get_image %}
                                    <img data-src="{{ MEDIA_URL }}{{ item.sku.get_image }}" src="{{ STATIC_URL }}img/blank.png" alt="{{ sku.name }}" title="{{ sku.name }}" width="{{ shop_settings.SHOP_PRODUCT_THUMB_SMALL|split:'x'|first }}" height="{{ shop_settings.SHOP_PRODUCT_THUMB_SMALL|split:'x'|last }}" class="img-lazy">
                                {% else %}
                                    <img alt="" width="{{ shop_settings.SHOP_PRODUCT_THUMB_SMALL|split:'x'|first }}" height="{{ shop_settings.SHOP_PRODUCT_THUMB_SMALL|split:'x'|last }}">
                                {% endif %}
                                {% if sku.descont_percentage %}
                                    <span class="discount"><span>{{ sku.descont_percentage|floatformat|cut:'-' }}%</span></span>
                                {% endif %}
                            </a>
                            <div class="desc position-relative">
                                <div>
                                    {% if sku.get_seals %}
                                        <div class="seals position-relative">
                                            {% for seal in sku.get_seals %}
                                                {% if "{" not in seal %}
                                                    {{ seal|safe }}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <h2 class="title">
                                        <a href="{{ product.get_absolute_url }}">
                                            {{ sku.name|upper }}
                                        </a>
                                    </h2>
                                    <div class="box-prices">
                                        {% if not has_stock %}
                                            <p class="font-size-16 font-weight-bold text-dark">Avise-me</p>
                                        {% elif not product.available %}
                                            <p class="font-size-16 font-weight-bold text-dark">Avise-me</p>
                                        {% elif sku.price %}
                                            <div class="prices">
                                                {% if sku.price < sku.unit_price %}
                                                    <p class="unit-price">
                                                        <span>{{ sku.unit_price|currency }}</span>
                                                    </p>
                                                {% endif %}
                                                <p class="sale-price">
                                                    <span>{{ sku.price|currency }}</span>
                                                </p>
                                                <p class="card-installments">
                                                    <span class="parcel">ou <strong class="get_min_installments">{{ sku.price|get_min_installments }}x</strong> de <strong class="get_card_price">{{ sku.price|get_card_price|currency }}</strong> sem juros</span>
                                                </p>
                                            </div>
                                        {% else %}
                                            <p class="h5 font-weight-bold m-0">Produto Indisponível</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <form method="POST" class="product-form">{% csrf_token %}
                                    <div style="display:none;">
                                        <input type="hidden" name="sku" value="{{ sku.id }}" />
                                    </div>
                                    <button type="submit" class="btn btn-link text-danger empty position-absolute" name="empty_wishlist" style="top: 0;"><i class="icon-close-radius"></i></button>
                                    <div class="purchase">
                                        <a href="{{ product.get_absolute_url }}" class="btn btn-product" aria-label="Visualizar">Visualizar</a>
                                    </div>
                                </form>
                            </div>
                            {% endwith %}
                        </div>
                    </div>
                {% empty %}
                    <div class="d-block mt-3 pt-3 border-top w-100">
                        <h5 class="h5 font-weight-bold">{% trans "Sua lista está vazia" %}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endlocalize %}
{% endblock %}