{% extends 'shop/customers/central/base.html' %}{% load i18n l10n thumbnail shop_tags %}
{% block meta_title %}{% trans "Lista de Desejos" %} | {{ block.super }}{% endblock %}
{% block body_id %}category{% endblock %}
{% block main %}
        <div class="title-shelf float mz ptz"><h3>Lista de Desejos</h3></div>
        {% localize off %}
        <ul class="list-products page-content float">
            {% for item in wishlists %}
            <li>
                {% with has_stock=item.sku.has_stock %}
                <div class="item-product{% if not has_stock %} not_stock{% endif %}">
                    <a href="{{ item.sku.product.get_absolute_url }}" class="link image">
                        {% if item.sku.get_image %}
                        <span class="align_c item-image">
                            <img data-src="{{ MEDIA_URL }}{{ item.sku.get_image }}" src="{{ STATIC_URL }}img/blank.gif" alt="{{ item.sku.name }}" title="{{ item.sku.name }}" width="200" height="200" class="lazyOwl" /><span></span>
                            <noscript><img src="{{ MEDIA_URL }}{{ item.sku.get_image }}" alt="{{ item.sku.name }}" title="{{ item.sku.name }}" width="200" height="200" /></noscript>
                        </span>
                        {% else %}
                        <img src="{{ STATIC_URL }}img/not-image.jpg" alt="" />
                        {% endif %}
                        {% if item.sku.descont_percentage %}
                        <span class="descont"><span><strong>{{ item.sku.descont_percentage|floatformat|cut:'-' }}%</strong> off</span></span>
                        {% endif %}
                    </a>
                    <div class="desc">
                        {% if item.sku.get_seals %}
                        <a href="{{ item.sku.get_absolute_url }}" class="seals">
                            {% for seal in item.sku.get_seals %}
                            {{ seal|safe }}
                            {% endfor %}
                        </a>
                        {% endif %}
                        <h2 class="title">
                            <a href="{{ item.sku.product.get_absolute_url }}">
                                <span>{{ item.sku.product }}</span>
                            </a>
                        </h2>
                        <div class="box-stars-trust" data-trustvox-product-code="{{ item.sku.product_id }}"></div>
                        <div class="box-prices">
                            {% if not has_stock or not item.sku.product.available %}
                            <div class="clear pd10"></div>
                            <p class="invalible">Produto Indisponível</p>
                            {% elif not item.sku.available %}
                            <div class="clear pd10"></div>
                            <p class="invalible">Produto Indisponível</p>
                            {% else %}
                            {% if item.sku.sale_price %}
                            <div class="prices">
                                <p class="price-of"><span class="unit_price"><span class="line-through">{{ item.sku.unit_price|currency }}</span></span></p>
                                <p class="price-boleto"><strong class="price">{{ item.sku.sale_price|currency }}</strong></p>
                            </div>
                            <p class="card-installments"><span class="parcel">{{ item.sku.sale_price|get_min_installments }}x de {{ item.sku.sale_price|get_card_price|currency }} sem juros</span></p>                            
                            {% elif item.sku.unit_price %}
                            <div class="prices">
                                <p class="price-boleto"><strong class="price">{{ item.sku.unit_price|currency }}</strong></p>
                            </div>
                            <p class="card-installments"><span class="parcel">{{ item.sku.unit_price|get_min_installments }}x de {{ item.sku.unit_price|get_card_price|currency }} sem juros</span></p>
                            {% else %}
                            <div class="clear pd10"></div>
                            <p class="invalible">Produto Indisponível</p>
                            {% endif %}
                            {% endif %}
                            <div class="information-price">
                                {% comment %}<p class="price_boleto get_price_boleto"><span>{{ product.price|get_price_boleto|currency }}</span> à vista no boleto</p>{% endcomment %}
                                <p class="price_boleto get_price_boleto">à vista no boleto <strong>5%</strong> de desconto *</p>
                            </div>
                        </div>
                        {% if has_stock and item.sku.available and item.sku.product.available %}
                        <a href="{{ item.sku.product.get_absolute_url }}" class="add_to_cart"><span>adicionar ao carrinho</span></a>
                        {% endif %}
                        <form method="POST" class="fl">{% csrf_token %}
                            {% localize off %}
                            <input type="hidden" name="sku" value="{{ item.sku.id }}" />
                            {% endlocalize %}
                            <button type="submit" class="empty" name="empty_wishlist"><i class="icon-close-radius"></i></button>
                        </form>
                    </div>
                </div>
                {% endwith %}
            </li>
            {% empty %}
            <li>
                <div class="pd plz size16 color6">{% trans 'Sua lista está vazia' %} </div>
            </li>
            {% endfor %}
        </ul>
        {% endlocalize %}
{% endblock %}
