*{margin:0;padding:0;}
img{border:none;}
a{text-decoration:none;}
#contener{width:1080px;margin:0 auto; position: relative;}
body{}
.bg2{}

#bg { position: absolute; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }



