@charset "utf-8";
.bt-menu-navbar{
    position: relative;
    cursor: pointer;
}
.bt-menu-navbar.active{
    z-index: 10;
}
.bt-menu-navbar > *{
    position: relative;
    z-index: 2;
}
.bt-menu-navbar:after{
    content: "";
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: #fff;
    left: -15px;
    right: -15px;
    top: -10px;
    bottom: -10px;
    border-radius: 6px;
    z-index: 1;
    transition: opacity 0.3s ease 0s;
}
.bt-menu-navbar.active:after{
    opacity: 1;
    visibility: visible;
}
#menuDepartament{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -300%;
    top: 0px;
    transition: opacity 0.3s ease 0s;
}
#menuDepartament.active{
    display: block;
    left: 0;
    opacity: 1;
    visibility: visible;
}
#menuDepartament.active .mask{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(0 0 0 / 35%);
}
#menuDepartament > nav{
    position: relative;
    z-index: 10;
}
#menuDepartament a{
    position: relative;
    font-size: 12px;
    color: #343434;
    display: block;
    padding: 8px 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
#menuDepartament .sub{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 100%;
    min-height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateX(-10px);
}
#menuDepartament ul{
    padding: 15px 0 15px 15px;
}
#menuDepartament nav > ul{
    min-width: 245px;
    position: relative;
    background: #fff;
    border-radius: 6px;
}
#menuDepartament li:hover > a{
    color: #ff7a4a;
}
#menuDepartament .level-0 > .sub,
#menuDepartament .level-0.child:hover > a{
    background: #f4f4f4;
}
#menuDepartament .level-1 > .sub,
#menuDepartament .level-1.child:hover > a{
    background: #fff;
}
#menuDepartament nav li.child > a{
    cursor: pointer;
}
#menuDepartament nav li.child:hover > .sub{
    display: block;
}

.navbar-menu{
    padding-top: 12px;
    padding-bottom: 12px;
}
.navbar-menu > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-menu > ul a{
    display: block;
    position: relative;
    font-size: 14px;
    color: #505050;
}
.navbar-menu ul li{
    z-index: 88;
    vertical-align: top;
}
.navbar-menu li .sub ul{
    display: block;
    float: left;
    width: 100%;
    position: relative;
    z-index: 100;
    padding: 10px 0;
}
.navbar-menu .sub ul li{
    display: block;
    float: none;
    padding: 5px 0px;
}
.navbar-menu .level-0 .root{
    display: block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: #5c3b93;
}
.navbar-menu .level-0:hover .root{
    color: #fab734;
}
.navbar-menu .level-0.child{
    position: relative;
}
.navbar-menu .level-0.child .root{
    position: relative;
    white-space: nowrap;
}
.navbar-menu .level-0.child:hover .root:before{
    content: "";
    position: absolute;
    left: 10px;
    bottom: -15px;
    z-index: 10000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}
.navbar-menu .level-0.child:hover *{
    z-index: 9999998;
}
.navbar-menu .sub{
    background: #fff;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    margin-top: 15px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px 5px rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 10%);
}
.navbar-menu .open-right .sub{
    left: inherit;
    right: 0;
}
.navbar-menu .level-0 > .sub > ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    font-size: 0;
    padding: 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.navbar-menu .level-0.child:hover > .sub:before{
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 30px;
}
.navbar-menu li.child:hover > .sub{
    min-width: 300px;
    visibility: visible;
    opacity: 1;
    display: -ms-flexbox;
    -ms-box-orient: horizontal;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
}
.navbar-menu .level-0 .sub .level-1{
    width: 100%;
}
#menuDepartament nav li.child > a:before,
.navbar-menu .level-0 .sub .level-1.child > a:after{
    content: "\e91f";
    font-family: 'icon-convertize';
    position: absolute;
    top: 50%;
    right: 0px;
    font-size: 14px;
    transform: translateY(-50%);
}
#menuDepartament nav li.child > a:before{
    right: 15px;
}
.navbar-menu .level-1.child .sub{
    background: #f5f5f5;
    position: absolute;
    display: none;
    top: 0;
    left: 290px;
    margin-top: 0;
    height: 100%;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-menu .level-1 > .sub > ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    font-size: 0;
    padding: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.navbar-menu .level-0 .sub .level-1.child:hover > a{
    color: #5c3b93;
}
.navbar-menu .level-1.child:hover > .sub:before{
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 30px;
    height: 100%;
}
.navbar-menu .level-0 .sub .level-1 > .sub > ul{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap column;
    flex-flow: wrap column;
}