body {font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;height:100%; padding: 25px 0; background:#f3f5f7; margin: 0;}
p {display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px;margin-inline-end:0px;}
img {margin-top: 0; margin-bottom: 34px; vertical-align: middle;}
.fonte1{margin-top: 0 !important;text-align: left !important;font-size: 17px; color: #565867;line-height: 1.53;}
.h1 {margin: 0 0 17px; font-size: 33px; font-weight: normal;}
/* Se o tamanho da tela tiver 601px de largura ou mais, defina o tamanho da fonte de <div> para 80px */
@media screen and (min-width: 601px) {
  div.body {
    font-size: 80px;
  }
}

/* Se o tamanho da tela tiver 600px de largura ou menos, defina o tamanho da fonte de <div> para 30px */
@media screen and (max-width: 600px) {
  div.body {
    font-size: 30px;
  }
}