@charset "utf-8";
.seals{
    display: flex;
    align-items: center;;
}
.seal{
    max-width: 100%;
}
.list-products .item-product .seals{
    margin: 0px 2px 2px 0px;
}

.list-products .item-product .seals .compre-ganhe, 
#content-product .seals .compre-ganhe{ display: block; padding: 2px 8px; background: #d4247c; font-size: 12px; line-height: 12px; font-weight: bold; color: #fff; text-align: center; border-radius: 3px;}
