{% load l10n i18n user_agents shop_tags %}
{% localize off %}
<div id="mini-cart" class="floating-page loading" style="max-width:500px;">
    <div class="container-fluid">
        <header>
            <div class="close">
                <i class="icon-close"></i>
            </div>
            <a class="title" href="{% url 'shop_checkout' %}#/carrinho">
                Carrinho de compras
                <i class="icon-angle-right d-md-block d-none ml-auto"></i>
            </a>
        </header>
        <div class="content-cart content-page">
            <ul>
                <li class="b-0">
                    <div class="empty-cart">
                        <span class="face">:(</span>
                        <span class="text">
                            <strong class="h3">Ops!</strong>
                            <br>
                            Seu carrinho está vazio
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <footer style="display: none;">
            <div class="bg-light p-3">
                <div class="info-prices">
                    <div class="values_footer mb-3">
                        <h3>Subtotal:</h3>
                        <p><strong class="request__cart__total_price"></strong></p>
                    </div>
                    {% comment %}
                    <div class="codes">
                        {% for coupon in request.cart.coupons.all %}
                            <a>{{ coupon.code }}</a>
                        {% endfor %}
                    </div>
                    <form class="coupon d-flex align-items-center mb-3">
                        <div class="values_footer"><h3>Cupom:</h3></div>
                        <div class="box-coupon d-flex justify-content-end input-group">
                            <input type="text" name="coupon" class="border-0 rounded p-2 m-0" placeholder="Cupom de desconto">
                            <div class="input-group-append">
                                <button id="coupon" type="submit" class="btn btn-dark btn-sm" data-loading-text="Aplicando...">{% trans 'Aplicar' %} </button>
                            </div>
                        </div>
                    </form>
                    <div class="values_footer mb-3">
                        <h3>Desconto:</h3>
                        <p><strong class="request__cart__discount_value"></strong></p>
                    </div>
                    {% endcomment %}
                </div>
                <div class="values_footer">
                    <h3>Total:</h3>
                    <p><strong class="request__cart__total"></strong></p>
                </div>
            </div>
            <div class="fields-cart text-center">
                <a href="{% url 'checkout_backend' 'carrinho' %}" class="btn btn-checkout py-3 w-75 font-weight-bold">Finalizar compra</a>
            </div>
        </footer>
    </div>
</div>
{% endlocalize %}