{% load l10n i18n shop_tags %}
{% localize off %}
<div class="showcase-ofeta-relampago">
    <div class="title-showcase">
        <h2>{{ object.shelf.title }}{% if object.shelf.sub_title %} <span class="size14">{{ object.shelf.sub_title }}</span>{% endif %}</h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 pr-md-0">
            <div class="banner">
                {% if object.extra_data.banner and object.extra_data.banner.image %}
                    {% if object.extra_data.banner.url %}
                        <a href="{{ object.extra_data.banner.url }}" class="w-100">
                    {% endif %}
                            <img
                                class="img-lazy" 
                                data-src="{{ object.extra_data.banner.image }}"
                                src="{{ STATIC_URL }}img/blank.png"
                                alt="{{ object.extra_data.banner.image|default:object.shelf.title }}"
                                {% if object.extra_data.banner.size %}
                                    width="{{ object.extra_data.banner.size|split:'x'|first }}"
                                    height="{{ object.extra_data.banner.size|split:'x'|last }}"
                                {% endif %}
                                
                            />
                    {% if object.extra_data.banner.url %}
                        </a>
                    {% endif %}
                {% endif %}
                {% if object.end_datetime %}
                    <h3>Essas ofertas terminam em:</h3>
                    <div class="box-time text-center">
                        <span class="countdown" data-datetime="{{ object.end_datetime|date:'Y/m/d H:i:s' }}"></span>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-9">
            <ul class="list-products special{% if 'pagination' in object.template %} horizontal-scroll{% else %} default{% endif %}">
                {% for p in object.shelf.get_products %}
                    {% if p.has_stock %}
                        <li>
                            <div 
                                class="item-product{% if not has_stock %} not_stock{% endif %}" 
                                data-id="{{ p.id }}" 
                                data-sku="{{ p.get_sku_not_variation }}" 
                            >
                                <a href="{{ p.get_absolute_url }}" class="item-image">
                                    {% if p.image %}
                                        <img data-src="{{ MEDIA_URL }}{{ p.image }}" src="{{ STATIC_URL }}img/blank.png" alt="{{ p.name }}" title="{{ p.name }}" width="{{ shop_settings.SHOP_PRODUCT_THUMB_SMALL|split:'x'|first }}" height="{{ shop_settings.SHOP_PRODUCT_THUMB_SMALL|split:'x'|last }}" class="img-lazy" />
                                    {% endif %}
                                </a>
                                <div class="desc p-3">
                                    <div class="seals">
                                        <span class="seal seal-oferta-relampago" aria-label="Oferta relâmpago"></span>
                                    </div>
                                    {% if p.descont_percentage %}
                                        <span class="descont">{{ p.descont_percentage|floatformat|f_multiply:"-1" }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endlocalize %}