{% load l10n i18n compress cms_tags user_agents shop_tags %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>{% block meta_title %}{{ settings_pote.SEO_TITLE }}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{{ settings_pote.SEO_DESCRIPTION }}{% endblock %}" />
        {% block meta_robots %}<meta name="robots" content="index, follow" />{% endblock %}
        {% compress css %}
            <link href="{{ STATIC_URL }}css/bootstrap.3-3-7.min.css" rel="stylesheet" type="text/css" />
            <link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet" type="text/css" />
            <link href="{{ STATIC_URL }}css/fonts.css" rel="stylesheet" type="text/css" />
            <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
            <link href="{{ STATIC_URL }}css/checkout.css" rel="stylesheet" type="text/css" />
        {% endcompress %}
        {% block extra_head %}{% endblock %}
        {% block head_script %}{% include 'includes/head_script.html' %}{% endblock %}
        {% if shop_settings.EXTRA_HEAD %}{% render shop_settings.EXTRA_HEAD|safe %}{% endif %}
    </head>
    <body id="{% block body_id %}checkout{% endblock %}" class="{{ LANGUAGE_CODE }}{% if request|is_mobile or request|is_tablet %} is_mobile{% endif %} {% block body_class %}farmacia{% endblock %} {% block attr_class %}{% endblock %}">
        {% if shop_settings.EXTRA_BODY %}{% render shop_settings.EXTRA_BODY|safe %}{% endif %}
        {% include "shop/sellers/seller/toolbar.html" %}
        <div id="main-wrapper">
            <header class="header" style="z-index: 1;">
                <div class="container">
                    <div class="col-brand pull-left">
                        {% block logo %}
                            <div class="logo m-0 text-center" itemscope="" itemtype="http://schema.org/Organization">
                                <a href="{% url 'home' %}" itemprop="name">{{ settings_pote.SEO_TITLE_HOME }}</a>
                                <meta itemprop="url" content="https://{{ request.get_host }}" />
                                <meta itemprop="logo" content="https://{{ request.get_host }}{{ STATIC_URL }}img/logo.png" />
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </header>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            {% block footer %}
                <footer class="footer">
                    {% include "includes/footer.html" %}
                </footer>
            {% endblock %}
        </div>

        {% block extra_footer %}{% endblock %}
        {% include "includes/gtm.html" %}
        {% if "/checkout/sucesso/" not in request.path %}
            {% compress js %}
                <script type="text/javascript" src="{{ STATIC_URL }}js/class/Class.js" async></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/class/Checkout.js" async></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/class/Nav.js" async></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap-select.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/libs/default-pt_br.min.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/libs/lazyload.min.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/libs/owl.carousel.min.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/events.js" async></script>
            {% endcompress %}
        {% endif %}
        
    </body>
</html>