{% extends "base.html" %}{% load i18n showcases_tags cms_tags user_agents shop_tags %}
{% block body_id %}home{% endblock %}
{% block meta_title %}{{ shop_settings.SEO_TITLE_HOME }}{% endblock %}

{% block logo %}
	<h1 class="logo m-0 text-center" itemscope="" itemtype="http://schema.org/Organization">
        <a href="{% url 'home' %}" itemprop="name">{{ shop_settings.SEO_TITLE }}</a>
        <meta itemprop="url" content="https://{{ request.get_host }}">
        <meta itemprop="logo" content="https:{{ STATIC_URL }}img/logo.png">
    </h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="areaTopBanner">
            {% showcase_widget "AreaTopBanner" %}
        </div>
        <div class="bar-information">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="d-flex align-items-center mb-4 mb-lg-0">
                        <i class="icon-truck mr-2"></i>
                        <span class="line-height-15">
                            <b>Frete grátis</b>
                            <span class="d-block">para todo o Brasil</span>
                        </span>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="d-flex align-items-center mb-4 mb-lg-0">
                        <i class="icon-payment mr-2"></i>
                        <span class="line-height-15">
                            <b>Parcele em até 10x</b>
                            <span class="d-block">sem juros no cartão</span>
                        </span>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="d-flex align-items-center mb-4 mb-lg-0">
                        <i class="icon-pix2 mr-2"></i>
                        <span class="line-height-15">
                            <b>10% off no pix</b>
                            <span class="d-block">em qualquer compra</span>
                        </span>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="d-flex align-items-center mb-4 mb-lg-0">
                        <i class="icon-pickup mr-2"></i>
                        <span class="line-height-15">
                            <b>Retire na loja</b>
                            <span class="d-block">veja nossas lojas</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="areaContent">
            {% showcase_widget "AreaContent" %}
        </div>
    </div>
{% endblock %}