{% extends "base.html" %}{% load i18n showcases_tags cms_tags user_agents shop_tags %}
{% block body_id %}home{% endblock %}
{% block meta_title %}{{ shop_settings.SEO_TITLE_HOME }}{% endblock %}

{% block logo %}
	<h1 class="logo m-0 text-center" itemscope="" itemtype="http://schema.org/Organization">
        <a href="{% url 'home' %}" itemprop="name">{{ shop_settings.SEO_TITLE_HOME }}</a>
        <meta itemprop="url" content="https://{{ request.get_host }}">
        <meta itemprop="logo" content="https://{{ request.get_host }}{{ STATIC_URL }}img/logo.png">
    </h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="areaTopBanner">
            {% showcase_widget "AreaTopBanner" %}
        </div>
        <div class="bar-information">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="text-center mb-4 mb-lg-0">
                        <i class="icon-credit-card"></i>
                        <span class="d-block">
                            <b>Parcele em até 10x</b>
                            <span class="d-block">sem juros no cartão</span>
                        </span>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="text-center mb-4 mb-lg-0">
                        <i class="icon-pix"></i>
                        <span class="d-block">
                            <b>10% off no pix</b>
                            <span class="d-block">em qualquer compra</span>
                        </span>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="text-center mb-4 mb-lg-0">
                        <i class="icon-security"></i>
                        <span class="d-block">
                            <b>100% seguro</b>
                            <span class="d-block">veja nossa política*</span>
                        </span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="text-center mb-4 mb-lg-0">
                        <i class="icon-clock"></i>
                        <span class="d-block">
                            <b>Atendimento 24h/7</b>
                            <span class="d-block">Abrangência em todo Brasil</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="areaContent">
            {% showcase_widget "AreaContent" %}
        </div>
    </div>
{% endblock %}