{% load l10n i18n cms_tags user_agents shop_tags showcases_tags compress admin_static %}{% spaceless %}<!doctype html>
{% with is_mobile=request|is_mobile %}
{% if shop_settings.CUSTOM_FIELDS %}{% get_data_json shop_settings.CUSTOM_FIELDS as custom_fields %}{% endif %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>{% block meta_title %}{{ shop_settings.SEO_TITLE }}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{{ shop_settings.SEO_DESCRIPTION }}{% endblock %}" />
        {% block meta_robots %}<meta name="robots" content="index, follow" />{% endblock %}
        {% include "includes/head.html" %}
        {% block extra_meta %}{% endblock %}
        {% block head_script %}{% include 'includes/head_script.html' %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body id="{% block body_id %}internal{% endblock %}" class="{{ LANGUAGE_CODE }}{% if is_mobile or request|is_tablet %} is_mobile{% endif %} {% block body_class %}farmacia{% endblock %} {% block attr_class %}{% endblock %}">
        {% if shop_settings.EXTRA_BODY %}{% render shop_settings.EXTRA_BODY|safe %}{% endif %}
        {% include "shop/sellers/seller/toolbar.html" %}
        <div id="main-wrapper">
            <header class="header">
                {% showcase_widget 'AreaTopHeader' object.django_id object.django_ct %}
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-3"></div>
                        <div class="col-6"></div>
                        <div class="col-3"></div>
                    </div>
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-sm-6 col-lg-2 col-brand">
                            {% block logo %}
                                <div class="logo m-0 text-center" itemscope="" itemtype="http://schema.org/Organization">
                                    <a href="{% url 'home' %}"></a>
									<meta itemprop="name" content="Convertize" />
                                    <meta itemprop="url" content="https://{{ request.get_host }}" />
                                    <meta itemprop="logo" content="{{ STATIC_URL }}img/logo.png" />
                                </div>
                            {% endblock %}
                        </div>
                        <div class="col-3 col-lg-2 d-flex align-items-center col-menu">
                            <span class="ml-3 d-lg-block d-none font-weight-bold font-size-14 bt-menu-navbar">
                                <span class="d-flex align-items-center justify-content-center">
                                    <i class="icon-menu mr-2 font-size-22"></i>
                                    CATEGORIAS
                                </span>
                            </span>
                            <a href="{% url 'home' %}" class="bt-open-page d-lg-none font-size-22" data-target="#floating-menu" aria-label="Categorias">
                                <i class="icon-menu"></i>
                            </a>
                        </div>
                        <div class="col-12 col-lg-5 col-search d-lg-block d-none">
                            <div class="form-search desktop w-100">
                                <form method="GET" action="{% url 'search:pote_search' slug='' %}">
                                    <button type="submit" class="btn-search" aria-label="Buscar">
                                        <i class="icon-search"></i>
                                    </button>
                                    <input type="text" aria-label="q" name="q" value="{% if query %}{{ query }}{% endif %}" placeholder="Olá, o que você procura hoje?" class="form-control" />
                                    <div class="autocomplete">
                                        <button type="button" class="close" aria-label="Fechar" style="display: none;"><i class="icon-close"></i></button>
                                        <div class="p-3">
                                            <div class="results" style="display: none;">
                                            </div>
                                            <div class="not-results">
                                                <p class="h6">Mais buscados</p>
                                                <div class="popular-words"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-3 col-lg-3 d-flex align-items-center justify-content-around col-last">
                            <div class="account mr-1 d-lg-block d-none">
                                {% if request.session.customer %}
                                    <a href="{% url 'home' %}" class="d-flex align-items-center" data-toggle="dropdown">
                                        <span class="bt-header">
                                            <i class="icon-user"></i>
                                        </span>
                                        <span class="text-wrap d-lg-block d-none">
                                            <span class="d-block font-weight-bold">Bem vindo, {{ request.session.customer.name|split:" "|slice:"1"|join:"" }}</span>
                                            <span class="d-block">Acesse o seu perfil</span>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu font-size-12">
                                        <a class="dropdown-item" href="{% url 'customers:profile' %}">Meus dados</a>
                                        <a class="dropdown-item" href="{% url 'customers:my_orders' %}">Meus pedidos</a>
                                        <a class="dropdown-item" href="{% url 'customers:logout' %}">Sair</a>
                                    </div>
                                {% else %}
                                    <a href="{% url 'home' %}" class="bt_login d-flex align-items-center">
                                        <span class="bt-header">
                                            <i class="icon-user"></i>
                                        </span>
                                        <span class="text-wrap d-lg-block d-none">
                                            <span class="d-block font-weight-bold">Bem Vindo!</span>
                                            <span class="d-block">Faça o login aqui</span>
                                        </span>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="d-lg-none mr-1">
                                <button class="bt-header bt-search bt-open-page" data-target="#floating-search" aria-label="Busca" data-prefetch>
                                    <icon class="icon-search" />
                                </button>
                            </div>
                            <div class="my-cart">
                                <a href="{% url 'shop_cart' %}" class="bt-header{% if not is_mobile %} bt-open-page{% endif %}" data-target="#mini-cart">
                                    <i class="icon-cart"></i>
                                    <span class="badge quantity">
                                        <span class="request__cart__total_quantity">{{ request.cart.total_quantity|default:0 }}</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container p-0">
                    <div class="row">
                        <div class="col-12 col-lg-10 offset-lg-2">
                            <div id="menuDepartament">
                                <nav>
                                    {% cms_menu "navbar-menu" %}  
                                </nav>
                                <div class="mask"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            {% block footer %}
                <footer class="footer">
                    {% comment %}
                    {% include 'newsletters/form.html' %}
                    {% endcomment %}
                    <div class="f-f-1">
                        <div class="container">
                            <div{% if is_mobile %} class="accordion" id="accordionFooter"{% endif %}>
                                <div class="row">
                                    <div class="col-md-9 col-12">
                                        <div class="row">
                                            <div class="col-md-3 col-12">
                                                <h3>
                                                    {% if is_mobile %}
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAbout" aria-expanded="true" aria-controls="collapseAbout">
                                                    {% endif %}
                                                        Institucional
                                                    {% if is_mobile %}
                                                        </button>
                                                    {% endif %}
                                                </h3>
                                                {% if is_mobile %}
                                                <div id="collapseAbout" class="collapse " aria-labelledby="headingAbout" data-parent="#accordionFooter">
                                                {% endif %}
                                                    <ul>
                                                        <li><a href="{% url 'cms_page' 'quem-somos' %}">{% trans "Quem Somos" %} </a></li>
                                                        <li><a href="{% url 'cms_page' 'unidades' %}">{% trans "Unidades" %} </a></li>
                                                        <li><a href="{% url 'cms_page' 'trabalhe-conosco' %}">{% trans "Trabalhe Conosco" %} </a></li>
                                                        <li><a href="{% url 'cms_page' 'envie-sua-receita' %}">{% trans "Envie sua receita" %} </a></li>
                                                    </ul>
                                                {% if is_mobile %}
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <h3>
                                                    {% if is_mobile %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="true" aria-controls="collapseHelp">
                                                    {% endif %}
                                                        Ajuda
                                                    {% if is_mobile %}
                                                    </button>
                                                    {% endif %}
                                                </h3>
                                                {% if is_mobile %}
                                                <div id="collapseHelp" class="collapse " aria-labelledby="headingHelp" data-parent="#accordionFooter">
                                                {% endif %}
                                                    <ul>
                                                        <li><a href="{% url 'cms_page' 'politica-do-site' %}">{% trans 'Política do Site' %} </a></li>
                                                        <li><a href="{% url 'cms_page' 'politica-de-privacidade' %}">{% trans 'Política de Privacidade' %} </a></li>
                                                        <li><a href="{% url 'cms_page' 'politica-de-entrega' %}"> {% trans 'Política de Entregas' %} </a></li>
                                                        <li><a href="{% url 'cms_page' 'politica-de-trocas-e-devolucoes' %}">{% trans 'Política de Trocas e Devoluções' %} </a></li>
                                                        <li><a href="{% url 'plugin_contacts:contact' %}">{% trans 'Fale Conosco' %} </a></li>
                                                    </ul>
                                                {% if is_mobile %}
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-5 col-12">
                                                <h3>
                                                    {% if is_mobile %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePayment" aria-expanded="true" aria-controls="collapsePayment">
                                                    {% endif %}
                                                        Formas de pagamento
                                                {% if is_mobile %}
                                                        </button>
                                                    {% endif %}
                                                </h3>
                                                {% if is_mobile %}
                                                <div id="collapsePayment" class="collapse " aria-labelledby="headingPayment" data-parent="#accordionFooter">
                                                {% endif %}
                                                    <ul class="d-flex align-items-center flex-wrap">
                                                        {% for f in payment_flags %}
                                                            <li class="mr-1 mb-1">
                                                                <span class="flag flag-{{ f }}"></span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% if is_mobile %}
                                                </div>
                                                {% endif %}
                                                <h3>
                                                    {% if is_mobile %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSecurity" aria-expanded="true" aria-controls="collapseSecurity">
                                                    {% endif %}
                                                        Segurança
                                                    {% if is_mobile %}
                                                    </button>
                                                    {% endif %}
                                                </h3>
                                                {% if is_mobile %}
                                                <div id="collapseSecurity" class="collapse " aria-labelledby="headingSecurity" data-parent="#accordionFooter">
                                                {% endif %}
                                                    <ul class="d-flex align-items-center mb-md-0">
                                                        <li class="mr-3">
                                                            <a href="http://www.google.com/safebrowsing/diagnostic?site={{ request.get_host }}" target="_blank" rel="noopener" onclick="redir(this.href);" class="bz">
                                                                <img src="{{ STATIC_URL }}img/blank.png" data-src="{{ STATIC_URL }}img/safe_google.png?v=2" class="img-lazy" width="96" height="36" alt="Navegação Segura - Google" />
                                                            </a>
                                                        </li>
                                                        <li class="mr-3">
                                                            <a href="https://safeweb.norton.com/report/show?url={{ request.get_host }}&amp;ulang=por_bra" target="_blank" rel="noopener" onclick="redir(this.href);" class="bz">
                                                                <img src="{{ STATIC_URL }}img/blank.png" data-src="{{ STATIC_URL }}img/safe_norton.png" class="img-lazy" width="90" height="36" alt="Norton - Safe Web" />
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <div>
                                                                <div id="convertize-pci-seal"></div>
                                                                <script type="text/javascript" src="https://secure.convertize.com.br/static/js/seal.js" schama_name="{{ request.tenant.schema_name }}" content="convertize-pci-seal" size="50"></script>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                {% if is_mobile %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <h3>
                                                    {% if is_mobile %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseContact" aria-expanded="true" aria-controls="collapseContact">
                                                    {% endif %}
                                                        Atendimento
                                                    {% if is_mobile %}
                                                    </button>
                                                    {% endif %}
                                                </h3>
                                                {% if is_mobile %}
                                                <div id="collapseContact" class="collapse " aria-labelledby="headingContact" data-parent="#accordionFooter">
                                                {% endif %}
                                                    <ul>
                                                        <li>
                                                            <a href="https://api.whatsapp.com/send?l=pt_br&phone=55{{ shop_settings.SHOP_ADDRESS_PHONE|mask_text }}" target="_blank" rel="noopener" class="d-flex align-items-center">
                                                                <i class="icon-whatsapp h5 mr-2 mb-0"></i>
                                                                {{ shop_settings.SHOP_ADDRESS_PHONE }}
                                                            </a>
                                                            <i class="icon-envelope h5 mr-2 mb-0"></i><span class="footer-sac">{{ shop_settings.FROM_EMAIL_COMERCIAL }}</span>
                                                        </li>
                                                    </ul>
                                                {% if is_mobile %}
                                                </div>
                                                {% endif %}
                                                <h3>
                                                    {% if is_mobile %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSocial" aria-expanded="true" aria-controls="collapseSocial">
                                                    {% endif %}
                                                        Redes Sociais
                                                    {% if is_mobile %}
                                                    </button>
                                                    {% endif %}
                                                </h3>
                                                {% if is_mobile %}
                                                <div id="collapseSocial" class="collapse " aria-labelledby="headingSocial" data-parent="#accordionFooter">
                                                {% endif %}
                                                    <ul class="d-flex align-items-center mb-md-0">
                                                        {% if settings_pote.FACEBOOK %}
                                                        <li class="mr-3">
                                                            <a href="{{ settings_pote.FACEBOOK }}" target="_blank" rel="noopener" title="Facebook" aria-label="Facebook">
                                                                <span class="footer-networks fb">
                                                                    <i class="icon-facebook"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if settings_pote.TWITTER %}
                                                        <li class="mr-3">
                                                            <a href="{{ settings_pote.TWITTER }}" rel="noopener" target="_blank" rel="nofollow" title="Twitter" aria-label="Twitter">
                                                                <span class="footer-networks tt">
                                                                    <i class="icon-twitter"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if settings_pote.GOOGLE_PLUS %}
                                                        <li class="mr-3">
                                                            <a href="{{ settings_pote.GOOGLE_PLUS }}" rel="noopener" target="_blank" rel="nofollow" title="Google +">
                                                                <span class="footer-networks gplus">
                                                                    <i class="icon-google"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if settings_pote.GOOGLE_YOUTUBE %}
                                                        <li class="mr-3">
                                                            <a href="{{ settings_pote.GOOGLE_YOUTUBE }}" rel="noopener" target="_blank" rel="nofollow" title="YouTube" aria-label="YouTube">
                                                                <span class="footer-networks youtube">
                                                                    <i class="icon-youtube"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if settings_pote.INSTAGRAM %}
                                                        <li class="mr-3">
                                                            <a href="{{ settings_pote.INSTAGRAM }}" target="_blank" rel="noopener" title="Instagram" aria-label="Instagram">
                                                                <span class="footer-networks instagram">
                                                                    <i class="icon-instagram"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if settings_pote.PINTEREST %}
                                                        <li class="mr-3">
                                                            <a href="{{ settings_pote.PINTEREST }}" target="_blank" rel="noopener" title="Pinterest" aria-label="Pinterest">
                                                                <span class="footer-networks pinterest">
                                                                    <i class="icon-pinterest"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if settings_pote.LINKEDIN %}
                                                        <li class="mr-3">
                                                            <a href="{{ settings_pote.LINKEDIN }}" target="_blank" rel="noopener" title="LinkedIn" aria-label="LinkedIn">
                                                                <span class="footer-networks linkedin">
                                                                    <i class="icon-linkedin"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if settings_pote.SHOP_SOCIAL_NETWORKING_TIKTOK %}
                                                        <li class="mr-3">
                                                            <a href="{{ settings_pote.SHOP_SOCIAL_NETWORKING_TIKTOK }}" target="_blank" rel="noopener" title="TikTok" aria-label="TikTok">
                                                                <span class="footer-networks tiktok">
                                                                    <i class="icon-tiktok"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if settings_pote.SHOP_SOCIAL_NETWORKING_SNAPCHAT %}
                                                        <li class="mr-3">
                                                            <a href="{{ settings_pote.SHOP_SOCIAL_NETWORKING_SNAPCHAT }}" target="_blank" rel="noopener" title="Snapchat" aria-label="Snapchat">
                                                                <span class="footer-networks snapchat">
                                                                    <i class="icon-snapchat"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if settings_pote.SHOP_SOCIAL_NETWORKING_BLOG %}
                                                        <li class="mr-3">
                                                            <a href="{{ settings_pote.SHOP_SOCIAL_NETWORKING_BLOG }}" target="_blank" rel="noopener" title="Blog" aria-label="Blog">
                                                                <span class="footer-networks blog">
                                                                    <i class="icon-blog"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if settings_pote.SHOP_CONTACTS_TELEGRAM %}
                                                        <li class="mr-3">
                                                            <a href="https://t.me{{ settings_pote.SHOP_CONTACTS_TELEGRAM }}" target="_blank" rel="noopener" title="Telegram" aria-label="Telegram">
                                                                <span class="footer-networks telegram">
                                                                    <i class="icon-telegram"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if settings_pote.SHOP_CONTACTS_WHATSAPP %}
                                                        <li class="mr-3">
                                                            <a href="https://api.whatsapp.com/send?l=pt_br&phone=55{{ settings_pote.SHOP_CONTACTS_WHATSAPP|mask_text }}" target="_blank" rel="noopener" title="WhatsApp" aria-label="WhatsApp">
                                                                <span class="footer-networks whatsapp">
                                                                    <i class="icon-whatsapp"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                    </ul>
                                                {% if is_mobile %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "includes/footer.html" %}
                </footer>
            {% endblock %}
        </div>

        {% include "shop/includes/cart.html" %}

        <div class="floating-page" id="floating-search">
            <div class="container-fluid">
                <header>
                    <div class="close">
                        <i class="icon-close"></i>
                    </div>
                    <div class="form-search w-100">
                        <form method="GET" action="{% url 'search:pote_search' slug='' %}">
                            <input type="text" aria-label="q" name="q" value="{% if query %}{{ query }}{% endif %}" placeholder="Olá, o que você procura hoje?" class="form-control autofocus" />
                            <button type="submit" class="btn-search" aria-label="Buscar"><i class="icon-search"></i></button>
                        </form>
                    </div>
                </header>
                <div class="content-page">
                    <div class="p-3">
                        <div class="results" style="display: none;">
                        </div>
                        <div class="not-results">
                            <p class="h6">Mais buscados</p>
                            <div class="popular-words"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block nav_inside %}
        <div class="floating-page" id="floating-menu">
            <div class="container-fluid">
                <header>
                    <div class="close">
                        <i class="icon-close"></i>
                    </div>
                    <span class="title">Categorias						
                        <a href="{% url 'home' %}" class="d-flex align-items-center ml-auto d-lg-none my-acount{% if not request.customer %} bt_login{% else %} bt-open-page{% endif %}" data-target="#floating-account" aria-label="Categorias">
                            <i class="icon-user text-primary font-size-20 mr-1"></i><span class="font-size-14">{% if request.customer %}Olá, {{ request.customer.name|split:" "|slice:"1"|join:"" }}{% else %}Minha conta{% endif %}</span>
                        </a>
                    </span>	
                </header>
                <div class="content-page" id="nav-inside">
                    <div class="content-nav-inside" id="menuMobile">
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="floating-page" id="floating-account">
            <div class="container-fluid">
                <header>
                    <div class="close">
                        <i class="icon-close"></i>
                    </div>
                    <span class="title">Minha Conta</span>
                </header>
                <div class="content-page">
                    <ul>
                        <li><a href="{% url 'customers:profile' %}">Minha conta</a></li>
                        <li><a href="{% url 'customers:my_orders' %}">Meus pedidos</a></li>
                        <li><a href="{% url 'customers:logout' %}" class="bz">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mask-floating-page"></div>

        {% comment %}
        <div class="navbar-mobile d-lg-none">
            <ul>
                <li class="li-home">
                    <a href="{% url 'home' %}">
                        <i class="icon-shop"></i>
                        <span>Início</span>
                    </a>
                </li>
                <li class="li-menu">
                    <a href="{% url 'home' %}" class="bt-open-page" data-target="#floating-menu">
                        <i class="icon-menu"></i>
                        <span>Categorias</span>
                    </a>
                </li>
                <li class="li-user">
                    <a href="{% url 'home' %}" class="bt_login {% if request.customer %}bt-open-page{% else %}bt_login{% endif %}" data-target="#floating-account">
                        <i class="icon-user"></i>
                        <span>Conta</span>
                    </a>
                </li>
                <li class="li-cart">
                    <a href="{% url 'shop_checkout' %}" class="bt-open-page" data-target="#mini-cart">
                        <i class="icon-cart"></i>
                        <span>Carrinho</span>
                        <span class="badge quantity">
                            <span class="request__cart__total_quantity">{{ request.cart.total_quantity|default:0 }}</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        {% endcomment %}

        <script type="text/javascript">
            const menuMobileTemplate = `{% spaceless %}{% cms_menu "navbar-mobile" %}{% endspaceless %}`;
            const menuPopularWordsTemplate = `{% spaceless %}{% cms_menu "navbar-words" %}{% endspaceless %}`;
        </script>

        {% block footer_script %}
            {% include "includes/footer_script.html" %}
        {% endblock %}

        {% block extra_footer %}{% endblock %}
    </body>
</html>{% endwith %}{% endspaceless %}