{% load i18n l10n thumbnail shop_tags user_agents %}
<div id="content-product">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 product-image">
                {% if request|is_mobile or request|is_tablet %}
                    <div class="carousel owl-theme owl-carousel banner mb-3" data-owl-carousel='{"items":1, "dots":true, "lazyLoad":true}'>
                        {% for image in product.get_images %}
                            {% if image.video %}
                                <div class="item video" data-index="{{ forloop.counter0 }}">
                                    <div class="embed-youtube video-container" data-code="{{ image.video }}" style="width:100%;height:315px;">
                                        <img class="owl-lazy" src="{{ STATIC_URL }}img/blank.png" data-src="{{ MEDIA_URL }}{{ image.version_medium }}" title="{{ product.name }}" alt="{{ product.name }}" width="{{ shop_settings.SHOP_PRODUCT_THUMB_MEDIUM|split:'x'|first }}" height="{{ shop_settings.SHOP_PRODUCT_THUMB_MEDIUM|split:'x'|last }}">
                                    </div>
                                </div>
                            {% else %}
                                <div class="item" data-index="{{ forloop.counter0 }}">
                                    <span big_img="{{ MEDIA_URL }}{{ image.version_large }}" class="expand-image" data-index="{{ forloop.counter }}">
                                        <img class="owl-lazy" src="{{ STATIC_URL }}img/blank.png" data-src="{{ MEDIA_URL }}{{ image.version_medium }}" title="{{ product.name }}" alt="{{ product.name }}" width="{{ shop_settings.SHOP_PRODUCT_THUMB_MEDIUM|split:'x'|first }}" height="{{ shop_settings.SHOP_PRODUCT_THUMB_MEDIUM|split:'x'|last }}">
                                    </span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="d-flex">
                        <ul class="thumbs">
                            {% for image in product.get_images %}
                                <li class="item{% if image.video %} video{% endif %}{% if image.version_small == product.image %} active{% endif %}"{% if image.video %} data-video="{{ image.video }}"{% endif %} data-index="{{ forloop.counter0 }}">
                                    <img src="{{ STATIC_URL }}img/blank.png" data-src="{{ MEDIA_URL }}{{ image.version_mini }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-lazy" width="{{ shop_settings.SHOP_PRODUCT_THUMB_MINI|split:'x'|first }}" height="{{ shop_settings.SHOP_PRODUCT_THUMB_MINI|split:'x'|last }}">
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="big-image">
                            {% if sku and sku.image_large %}
                                <figure class="zoom">
                                    <img src="{{ STATIC_URL }}img/blank.png" data-src="{{ MEDIA_URL }}{{ sku.image_medium }}" class="img-lazy" alt="{{ product.name }}" title="{{ product.name }}" width="{{ shop_settings.SHOP_PRODUCT_THUMB_MEDIUM|split:'x'|first }}" height="{{ shop_settings.SHOP_PRODUCT_THUMB_MEDIUM|split:'x'|last }}">
                                    <meta itemprop="image" content="{{ MEDIA_URL }}{{ sku.image_large }}">
                                </figure>
                            {% elif product.image %}
                                <figure class="zoom">
                                    <img src="{{ STATIC_URL }}img/blank.png" data-src="{{ MEDIA_URL }}{{ product.image_medium }}" class="img-lazy" alt="{{ product.name }}" title="{{ product.name }}" width="{{ shop_settings.SHOP_PRODUCT_THUMB_MEDIUM|split:'x'|first }}" height="{{ shop_settings.SHOP_PRODUCT_THUMB_MEDIUM|split:'x'|last }}">
									<meta itemprop="image" content="{{ MEDIA_URL }}{{ product.image_large }}">
                                </figure>
                            {% endif %}
                            <span class="expand-image zoom-in">
                                <i class="icon-zoom"></i>
                            </span>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 pl-md-0 product-detail">
                {% if not request|is_mobile and product.category %}
                    <div id="breadcrumb" class="mb-4">
                        <ul class="d-flex align-items-center text-nowrap">
                            <li class="home">
                                <a href="{% url 'home' %}">
                                    {% trans 'Início' %}
                                </a>
                            </li>
                            {% for ancestor in product.get_category_ancestors %}
                                <li>
                                    <a href="{{ ancestor.get_absolute_url }}">
                                        {% trans ancestor.title %}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="pr-0 mr-0">
                                <a href="{{ product.category.get_absolute_url }}">
                                    {% trans product.category.title %}
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <form method="POST" action="{{ product.get_absolute_url }}" class="product-form pt-3">
                    <h1 class="name" itemprop="name">{{ product.name }}</h1>
                    <div class="d-flex flex-wrap text-secondary mb-3">
                        {% if product.brand %}
                            <a href="{% if product.category %}{{ product.category.get_absolute_url|slice:'0:-1' }}{% endif %}{{ product.get_brand.get_absolute_url }}" class="font-weight-bold mr-3 text-secondary" >{{ product.brand.title }}</a>
                            <meta itemprop="brand" content="{{ product.brand.title }}">
                        {% endif %}
                        <span class="mr-3">
                            <meta itemprop="sku" content="{% if sku %}{{ sku.id }}{% else %}{{ product.get_sku_default.id }}{% endif %}">
                            {% if product.get_sku_default.ean_13 %}
                            <meta itemprop="gtin13" content="{{ product.get_sku_default.ean_13 }}">
                            {% endif %}
                            Cód: {{ product.upc }}
                        </span>
                        <span class="rating-star">
                            <span class="star-{{ product.rating|default:0 }}">{{ product.rating|default:0 }} avaliaç{{ product.rating|default:0|pluralize:"ão,ões" }}</span>
                        </span>
                        {% if product.rating %}
                        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <meta itemprop="ratingValue" content="{{ product.rating }}">
                            <meta itemprop="reviewCount" content="{% if product.rating_total %}{{ product.rating_total }}{% else %}0{% endif %}">
                            <meta itemprop="bestRating" content="5">
                            <meta itemprop="worstRating" content="1">
                        </div>
                        {% endif %}
                        <div class="wishlist ml-auto">
                            {% if request.session.customer %}
                                <button type="submit" class="btn btn-link p-0 text-dark btn-wishlist" title="Adicionar à lista de desejos">
                                    <i class="icon-heart"></i>
                                </button>
                            {% else %}
                                <a href="{{ product.get_absolute_url }}" class="btn btn-link bt_login p-0 text-dark" title="Adicionar à lista de desejos">
                                    <i class="icon-heart"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% if product.get_seals %}
                        <div class="seals">
                            {% for seal in product.get_seals %}
                                {{ seal|safe }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div style="display:none;">
                        <input type="hidden" value="{{ product.id }}" name="product">
                        <input type="hidden" value="{{ product.slug }}" name="slug">
                    </div>
                    {% with options=product.get_all_options %}
                        {% regroup options by option_title as options %}
                        {% if product.product_type == 3 %}
                            <div class="bundles pt-3">
                                <div class="option size14 fw600 pd plz prz color2">Selecione uma opção abaixo:</div>
                                {% for name,bundle in product.get_bundles.items %}
                                    <div class="form-group{% if bundle.required %} required{% endif %}">
                                        <div class="values">
                                            <span class="number">{{ forloop.counter }}</span>
                                            <select name="{{ name }}"{% if bundle.required %} required{% endif %}>
                                                {% for name_item,option in bundle.options.items %}
                                                    {% if forloop.first %}
                                                        <option value="" data-sale-price="0" selected="selected" data-cover="{{ MEDIA_URL }}{{ option.cover }}">------</option>
                                                    {% endif %}
                                                    <option value="{{ name_item }}" data-sale-price="{{ option.sale_price }}" data-cover="{{ MEDIA_URL }}{{ option.cover }}">{{ option.name|replace:'/,' }} {{ option.quantity }} unidade{{ option.quantity|pluralize:'s' }} por {{ option.sale_price|currency }} cada</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% elif options %}
                            <div class="variations mt-2">
                                {% for option in options %}
                                    <div class="form-group-{{ option.grouper|slugify }}">
                                        {% if product.grid.display == "select" %}
                                            <div class="required form-group">
                                                <label class="font-weight-bold font-size-14">
                                                    {{ option.grouper|title }}
                                                </label>
                                                <select name="option_{{ option.list.0.option_id }}" class="form-control form-control-{{ option.list.0.option_title|slugify }}" data-title="{{ option.grouper|title }}">
                                                    <option value="">-------------</option>
                                                    {% for value in option.list %}
                                                        <option value="{{ value.option__value_id }}">{{ value.option__value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% else %}
                                            <div class="required form-group">
                                                <label class="font-weight-bold font-size-14">
                                                    {{ option.grouper|title }}
                                                </label>
                                                <div>
                                                    {% for value in option.list %}
                                                        <label class="value{% if not value.available %} disabled{% endif %}">
                                                            <input type="radio" value="{{ value.option__value_id }}" name="option_{{ value.option_id }}" data-available="{{ value.available }}" data-title="{{ option.grouper|title }}">
                                                            <span>{{ value.option__value }}</span>
                                                        </label>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    {% if product.is_available %}
                        <div class="row mt-sm-3">
                            {% with sku=sku|default:product %}
                                <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                    <div class="position-relative" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <meta itemprop="url" content="https://{{ request.get_host }}{{ product.get_absolute_url }}">
                                        <link itemprop="availability" href="http://schema.org/InStock">
                                        <meta itemprop="priceCurrency" content="BRL">
                                        <p class="unit-price"{% if sku.unit_price <= sku.price %} style="display:none;"{% endif %}>
                                            <span>{{ sku.unit_price|currency }}</span>
                                        </p>
                                        <p class="sale-price">
                                            <meta itemprop="price" content="{{ sku.price }}">
                                            <strong>{{ sku.price|currency }}</strong>
                                        </p>
                                        {% comment %}
                                        <p class="boleto-price" data-discount="{{ billet_discount|floatformat }}">
                                            <meta itemprop="price" content="{{ sku.price|get_price_boleto }}">
                                            <strong>{{ sku.price|get_price_boleto|currency }}</strong> no boleto
                                        </p>
                                        {% payment_price sku.price "pix" as pix_discount %}
                                        <p class="pix-price" data-discount="{{ pix_discount.discount|floatformat }}">
                                            <strong>{{ pix_discount.value|currency }}</strong> no pix
                                        </p>
                                        {% endcomment %}
                                        <p class="card-installments">
                                            <a href="#" data-toggle="modal" data-target="#all_installments" class="font-size-12 text-success get_installments" data-price="{{ sku.price }}">em até <strong class="get_min_installments">{{ sku.price|get_min_installments }}x</strong> de <strong class="get_card_price">{{ sku.price|get_card_price|currency }}</strong></a>
                                        </p>
                                        <span class="discount"{% if not product.descont_percentage %} style="display:none"{% endif %}>{{ product.descont_percentage|default:"0"|floatformat }}%</span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 d-flex align-items-center">
                                    <div class="purchase">
                                        {% if p.product_type == '3' %}
                                        {% else %}
                                            <label aria-label="Quantidade" class="m-0">
                                                <input type="tel" value="1" name="quantity">
                                            </label>
                                            <button type="button" class="btn btn-checkout d-block" data-loading-text="Comprando">Comprar</button>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                    {% else %}
                        <div>
                            <div class="position-relative" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <h3>Produto Indisponível</h3>
                                <link itemprop="availability" href="http://schema.org/InStock" content="OutOfStock">
                                <meta itemprop="priceCurrency" content="BRL">
                                <meta itemprop="price" content="{{ product.price|get_price_boleto }}">
                            </div>
                            <div class="purchase">
                                <button type="button" class="btn btn-checkout d-block btn-let-me-know" data-loading-text="Adicionando">Avise-me</button>
                            </div>
                        </div>
                    {% endif %}
                </form>
                <div class="content-offers"></div>
                <div class="mt-4">
                    <form class="box-calculate-shipping position-relative" action="/freight/shipping-simulation/" method="GET" data-content-type="text/javascript">
                        <input type="hidden" value="1" name="quantity">
                        <input type="hidden" value="{{ product.get_sku_default.id }}" name="sku">
                        <div class="p-3 border rounded">
                            <div class="d-flex flex-wrap align-items-center justify-content-center">
                                <span class="font-size-14 font-weight-bold text-nowrap mb-2 mb-lg-0 mr-lg-2">Simule seu frete:</span>
                                <div class="d-flex flex-nowrap align-items-start">
                                    <div class="form-group m-0 font-size-12">
                                        <input type="tel" name="zipcode" class="form-control form-control-lg" placeholder="Digite seu CEP" required maxlength="9" data-mask="00000-000" style="width: 150px;height: 35px;" aria-label="Consulte o frete">
                                    </div>
                                    <button class="ml-2 p-0 px-3 btn btn-primary font-weight-bold" style="height: 35px;">Calcular</button>
                                </div>
                                <a href="http://www.buscacep.correios.com.br/servicos/dnec/index.do" target="_blank" class="btn btn-link font-size-13 text-primary ml-lg-2">Não sei meu CEP</a>
                            </div>
                        </div>
                        <div class="form-return w-100 mt-2"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>