{% load l10n shop_tags user_agents %}
{% localize off %}
    <div class="row">
        <div class="col-12">
            {% if object.bannerdhtml.title %}
                <div class="title-showcase">
                    <h2>{{ object.bannerdhtml.title }} </h2>
                    {% if object.bannerdhtml.sub_title %}
                        <h3>{{ object.bannerdhtml.sub_title }}</h3>
                    {% endif %}
                </div>
            {% endif %}
            <div id="{{ object.bannerdhtml.name|slugify }}" class="carousel carousel-default owl-theme owl-carousel banner"{% if object.bannerdhtml.extra_data.carousel %} data-owl-carousel='{{ object.bannerdhtml.extra_data.carousel|return_json }}'{% else %} data-owl-carousel='{"items":{% if object.bannerdhtml.num_columns %}{{ object.bannerdhtml.num_columns }}{% else %}4{% endif %}, "nav":{{ object.bannerdhtml.navigation|lower }}, "dots":{{ object.bannerdhtml.pagination|lower }}}'{% endif %}>
                {% for banner in object.bannerdhtml.get_images %}
                    {% if object.extra_data.mobile and request|is_mobile %}
                        {% if banner.classes == "m" %}
                            {% include "shop/showcases/bannerdhtml/includes/item.html" %}
                        {% endif %}
                    {% elif banner.classes != "m" %}
                        {% include "shop/showcases/bannerdhtml/includes/item.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endlocalize %}